@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600&family=Style+Script&display=swap');

body, html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../image/anthony-melone-W6zVhDL.jpg");
    background-position: center;
    background-size: cover;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bg {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    float: left;
    height: 120px;
    overflow: hidden;
}

.logo img {
    margin: 0;
}

.navlist {
    background-color: #fafad2;
    float: right;
    padding: 5px 15px;
}

li {
    display: inline-block;
    font-family: Helvetica;
    font-weight: 600;
    font-size: 10pt;
    padding: 5px;
    margin: 0px;
}

.header {
    font-family: "Zilla Slab";
    padding: 20px;
    margin: 0px auto 50px;
    background-color: #fff0f5;
    text-align: center;
}

.hero-txt{
    margin: 0;
    font-family: "Zilla Slab";
    clear: both;
    padding: 10px;
    text-align: center;
}

.hero-left{
    width: 33%;
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
}

.hero-container {
    padding: 0px 0px 300px;
    background-color: #ffffff;
    clear: both;
}

.txt {
    margin: 0 0px 0 0;
    font-family: "Zilla Slab";
    clear: both;
    padding: 0px;
    text-align: center;
}

.hero-right{
    width: 33%;
    float: right;
    margin-left: 10px;
}

.spacing {
    clear: both;
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.0);
}

.menubar {
    padding: 0;
    width: 100%;
    float: left;
    background-color: #fafad2;
}

.menulist {
    list-style: none;
    margin: 0 0 0 3%;
    float: left;
    padding: 0px;
}

.menulist li{
    padding: 0px 5px;
    margin: 0 50px 0 0;    
}

.menulist li h3 {
    margin: 10px 0;
}

.menulist li:hover {
    background-color: #c5c5a0;
}

.column {
    float: left;
    width: calc(33.33% - 60px);
    padding: 30px;
  }

.column img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    height: 350px;
    object-fit: cover;
    margin: auto;
}
 
.row {
    background-color: #ffffff;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    font-family: "Zilla Slab";
    padding: 10px;
    margin: 25px auto 50px;
    background-color: #cfcfcf;
    text-align: center;
}

.connect {
    margin: 10px 0 0 0;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 10%;
    width: 30%;
    float: left;
  }

  .map {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 30%;
    float: right;
    margin-right: 10%;
  }