@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600&family=Style+Script&display=swap');

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("../image/anthony-melone-W6zVhDL.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0px;

    filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    background-color: lightgoldenrodyellow;
    list-style: none;
    float: right;
    padding: 5px;
    margin: 0 0 30px 0;
}

li {
    display: inline-block;
    /*font-family: 'Hele Script', cursive;*/
    font-family: Helvetica;
    font-weight: 600;
    font-size: 10pt;
    padding: 5px;
    margin: 0px;
}

.title {
    font-family: "Zilla Slab";
    clear: both;
    padding: 100% auto;
    margin: 50px auto;
    background-color: lavenderblush;
    text-align: center;
}
